@page
@{}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tutor Deparment Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div>
        <!-- Navigation bar with Insert details button-->
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
            <a class="navbar-brand" href="#">Tutor Department Details By Ranjit</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <button class="btn btn-success" data-toggle="modal" data-target="#insertDetails">Insert Tutor Details</button>
                    </li>
                </ul>
            </div>
        </nav>
        <br/>
        <!-- Main Area where data will display-->
        <div class="container" >
            <div class="row" id="TutorDetailsSection"></div>

        </div>
    </div>
    <!-- web form to insert the data-->
    <div class="modal" tabindex="-1" role="dialog" id="insertDetails">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Insert New Record</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="TutorName">Tutor Name</label>
                            <input type="text" class="form-control" id="Tutor_name" aria-describedby="Tutor_nameHelp">
                        </div>
                        <div class="form-group">
                            <label for="DepartmentName">Department Name</label>
                            <input type="text" class="form-control" id="Department_name" aria-describedby="Department_nameHelp">
                        </div>
                        <div class="form-group">
                            <label for="CourseName">Course Name</label>
                            <input type="text" class="form-control" id="Course_Name" aria-describedby="Course_NameHelp">
                        </div>
                        <div class="form-group" id="result">
                        </div>
                        <button type="button" onclick="insert()" class="btn btn-danger">Insert</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- web form to update the data-->
    <div class="modal" tabindex="-1" role="dialog" id="UpdateDetails">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Record</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="Edit_id" aria-describedby="Id_Help">
                        </div>
                        <div class="form-group">
                            <label for="TutorName">Tutor Name</label>
                            <input type="text" class="form-control" id="Edit_Tutor_name" aria-describedby="Tutor_nameHelp">
                        </div>
                        <div class="form-group">
                            <label for="DepartmentName">Department Name</label>
                            <input type="text" class="form-control" id="Edit_Department_name" aria-describedby="Department_nameHelp">
                        </div>
                        <div class="form-group">
                            <label for="CourseName">Course Name</label>
                            <input type="text" class="form-control" id="Edit_Course_Name" aria-describedby="Course_NameHelp">
                        </div>
                        <div class="form-group" id="resultUpdate">
                        </div>
                        <button type="button" onclick="Update()" class="btn btn-danger">Modify</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript Files-->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        var uri = 'api/TutorDetails';
        $(document).ready(function () {
            // Gets all data
            $.getJSON(uri).done(function (data) {
                $("#Main_temp").tmpl(data).appendTo("#TutorDetailsSection");
            });
        });
        function TutorData() {
            $.getJSON(uri).done(function (data) {
                $("#TutorDetailsSection").text("");
                $("#Main_temp").tmpl(data).appendTo("#TutorDetailsSection");
            });
        }
        //function to Insert Data
        function insert() {
            var _Tutor_name = $('#Tutor_name').val();
            var _Department_name = $('#Department_name').val();
            var _Course_Name = $('#Course_Name').val();

            var TutorData_Object = {
                tutorName: _Tutor_name,
                departmentName: _Department_name,
                courseName: _Course_Name
            };
            $.ajax({
                type: "POST",
                url: uri,
                data: JSON.stringify(TutorData_Object),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#result").html("Record inserted successfully");
                TutorData();
            }).fail(function (jqXHR, textStatus) {
                $("#result").html("Record is not inserted. There is an error");
            });
        }
        //function to Update Data
        function Update() {
            var _Tutor_name = $('#Edit_Tutor_name').val();
            var _Department_name = $('#Edit_Department_name').val();
            var _Course_Name = $('#Edit_Course_Name').val();

            var TutorUpdateData_Obj = {
                id: parseInt($('#Edit_id').val()),
                tutorName: _Tutor_name,
                departmentName: _Department_name,
                courseName: _Course_Name
            };
            $.ajax({
                type: "PUT",
                url: uri + "/" + $('#Edit_id').val(),
                data: JSON.stringify(TutorUpdateData_Obj),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#resultUpdate").html("Record updated successfully");
                TutorData();
            }).fail(function (jqXHR, textStatus) {
                $("#resultUpdate").html("Record is not inserted. There is an error");
            });
        }
        // function to remove record
        function remove(id) {
            var yes = confirm("Do you really want to delete this account?");
            if (yes) {
                $.ajax({
                    type: "DELETE",
                    url: uri + "/" + id,
                }).done(function (response) {
                    TutorData();
                });
            }
        }
        //function to display data in update form
        function UpdateRecord(id) {
            $.ajax({
                type: "GET",
                url: uri + "/" + id,
                contentType: "application/json"
            }).done(function (response) {
                $('#Edit_id').val(response.id);
                $('#Edit_Tutor_name').val(response.tutorName);
                $('#Edit_Department_name').val(response.departmentName);
                $('#Edit_Course_Name').val(response.courseName);
            });
        }
    </script>
    <!--Template to display data-->
    <script id="Main_temp" type="text/x-jquery-tmpl">
        <div class="col-lg-4">
            <div class="card border-secondary mb-3">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Tutor Name: ${tutorName}</h5>
                    <p class="card-text">Department Name: ${departmentName}</p>
                    <p class="card-text">Course Name: ${courseName}</p>
                    <button class="btn btn-outline-danger" onclick="UpdateRecord('${id}')" data-toggle="modal" data-target="#UpdateDetails">Update</button>
                    <a href="#" class="btn btn-outline-dark" onclick="remove('${id}')">Delete</a>
                </div>
            </div>
        </div>
    </script>
</body>
</html>

